/*
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
*/
.container{
    border: 2px solid red;
    /* font-size: 0; */
    display: flex;
}
.container .item{
    width: 100px;
    height: 100px;
    border: 2px solid;
    border-radius:10px;
    /* 수평 정렬하고 싶을 때 inline-block 요소를 이용했었음..! */
    /* inline-block은 기본적으로 inline요소 , 따라서 띄어쓰기가 들어가짐*/
    /* 그래서 font-size 0을 해서 띄어쓰기 없앰. */
    /* 대신 이렇게 하니까 요소 내부의 글씨들이 띄어쓰기가 없음.. ㅠㅠ*/
    /* 그래서 flex로 제어!  */
    /* display: inline-block; */

    /* float을 사용하는 방법도 있었음 */
    /* 다만 float 개념 자체는 붕 떠있는다는 뜻이다보니, 부모요소 위로 올라가버림! */
    /* 그래서 clearfix::after (가상 요소 선택자)로 displya, clear를 설정해서 사용!*/
    /* 다소 복잡한 감이 없지 않아 있음.*/
    /* float: left; */

    /* inline-block, float은 수평으로 사용하는 대체제였다능!!!!ㅠㅠ */
    /* 각 items를 포함하고 있는 부모요소에 display: flex를 넣어보자 */
    /* 한번에 해결됨 ♡ */
}