/* 크기 속성 */
/* width, height */
/* 기본 font-size는 16px */
/* font-size: 16px; */
.box{
    width: 300px;
    height: 200px;
    background: red;
    font-size: 30px;
    margin: 10px;
}

/* 여백 */
/* Margin: 바깥 여백_요소 사이에 거리 넣고 싶을 때 사용*/
/* Padding: 요소의 내부 여백_자식 요소를 감싸는 여백 */
.box2{
    padding:20px;
}

.box3{
    width:200px;
    height: 150px;
    background: red;
}

.box4{
    width: 250px;
    height: 180px;
    background-color: blue;
    color: white;
}